@font-face {
  font-family: retroFont;
  src: url(fipps-regular.otf);
}

@font-face {
  font-family: regFont;
  src: url(8-Bit\ Madness.ttf);
}

canvas {
    border: 1px solid white;
    display: block;
    margin: 0 1rem;
}

body {
    background-color: #000;
    justify-content: center;
    align-content: center;
    display: flex;
}

body .flash {
    background-color: white;
}

.foreground {
    width: 1020px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
}

main > * {
    margin: 1rem;
}

p {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
}

.rules {
    width: 480px;
    min-width: 480px;
    font-size: 28px;
    font-family: regFont;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    border-top: 1px dashed cornflowerblue;
    border-bottom: 1px dashed cornflowerblue;
    width: inherit;
}

#instructions p {
    margin: 10px 0;
}

.rules h1 {
    font-family: retroFont;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    height: 5rem;
    width: fit-content;
    justify-self: center;
    letter-spacing: 5px;
    font-weight: 100;
}

h3 {
    display: block;
    font-size: 12px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    padding: 0 10px;
}

footer > * {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.left-foot {
    left: 8rem;
}

.right-foot {
    left: 400px;
}
#creator {
    font-family: regFont;
    width: fit-content;
    margin: 0 1rem;
    color: white;
    font-size: 24px;
}

#github {
    transition: all .2s ease-in-out;
}

#github:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.desc {
    border-top: 1px dashed mediumpurple;
    border-bottom: 1px dashed mediumpurple;
    padding: 1rem 0;
}

input {
    cursor: pointer;
}

#speaker {
    width: 32px;
    height: 32px;
    margin: 0 12px;
}

#visualizer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    border: none;
}