@font-face {
  font-family: retroFont;
  src: url(fipps-regular.otf);
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

body .flash {
    background-color: white;
}

body {
    width: auto;
    background-color: #000;
}

h1 {
    font-family: retroFont;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
}

h3 {
     font-family: retroFont;
    color: white;
    display: block;
    font-size: 15px;
        text-align: center;
}
