@font-face {
  font-family: retroFont;
  src: url(fipps-regular.otf);
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 1rem;
}

body .flash {
    background-color: white;
}

body {
    width: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
}

p {
    text-align: center;
    font-size: 12px;
    font-family: retroFont;
    color: white;
}

.rules {
    width: 480px;
}

#instructions {
    font-size: 18px;       
}
h1 {
    font-family: retroFont;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    height: 5rem;
}

h3 {
    font-family: retroFont;
    color: white;
    display: block;
    font-size: 12px;
    text-align: center;
}

footer {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#creator {
    width: fit-content;
    margin: 0 1rem;
}

#github {
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}

#github:hover {
    cursor: pointer;
}
